YC_FOLDER_ID=
YC_REGISTRY_ID=crp7vdmqvk61ce7oukqn
YC_DEPLOYER_SA_ID=ajeo8kqgko5ftmdlqq43
YC_API_GATEWAY_ID=d5dl7dc4rc07v7jnvlf2
YC_HTTP_CONTAINER_ID=
YC_RUNTIME_SA_ID=
YC_GATEWAY_SA_ID=
YC_HEALTH_URL=https://d5dl7dc4rc07v7jnvlf2.p8361f8z.apigw.yandexcloud.net/health
YPERSON_CONFIG_VERSION=2026-08-20.1
YPERSON_PRIVACY_URL=https://d5dl7dc4rc07v7jnvlf2.p8361f8z.apigw.yandexcloud.net/privacy
YPERSON_SUPPORT_URL=https://d5dl7dc4rc07v7jnvlf2.p8361f8z.apigw.yandexcloud.net/support
YDB_ENDPOINT=
YDB_DATABASE=
YPERSON_OBJECT_BUCKET=
YPERSON_S3_LOCKBOX_SECRET_ID=
YPERSON_S3_LOCKBOX_VERSION_ID=
