YC_FOLDER_ID=
YC_REGISTRY_ID=crp7vdmqvk61ce7oukqn
YC_DEPLOYER_SA_ID=
YC_HTTP_CONTAINER_ID=
YC_MIGRATION_CONTAINER_ID=
YC_RUNTIME_SA_ID=
YC_GATEWAY_SA_ID=
YC_NETWORK_ID=
YC_LOCKBOX_SECRET_ID=
YC_LOCKBOX_SECRET_VERSION_ID=
YC_HEALTH_URL=
YPERSON_CONFIG_VERSION=2026-08-19.1
YPERSON_PRIVACY_URL=https://yperson.ru/privacy
YPERSON_SUPPORT_URL=https://yperson.ru/support
